<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>You never read this so... What should I say mmM.</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

</head>
<body>
  <header>
    <nav class="navbar navbar-inverse" id="navigation">
      <a href="/" class="navbar-brand">Arpan Sen</a>
      <ul class="nav navbar-nav">
        <!-- <li><a href="/">Gaston Mazza</a></li> -->
        <!-- <li><a href="/about">About</a></li> -->
        <!-- <li><a href="/contact">Contact</a></li> -->
      </ul>
    </nav>
  </header>


  <!-- MAIN CONTENT HERE -->
  <%- defineContent('hero') %>

  <main>
    <div class="container">
      <%- body %>
    </div>
  </main>

  <footer>
    Arpan Sen. Copyright &copy; 2024

  </footer>
  <script type="text/javascript" src="/js/main.js" ></script>

</body>
</html>

